$shadow-1: 0 0 30px rgba(0,0,0,0.10), 0 0 30px rgba(0,0,0,0.10);
$shadow-2: 0 0 30px rgba(0,0,0,0.18), 0 0 30px rgba(0,0,0,0.18);
$shadow-3: 0 0 35px rgba(0,0,0,0.20), 0 0 35px rgba(0,0,0,0.20);
$shadow-4: 0 0 40px rgba(0,0,0,0.25), 0 0 40px rgba(0,0,0,0.25);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


//TRANSITIONS

$transition-all: all 0.3s cubic-bezier(.25,.8,.25,1);
$transition-shadows: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
$transition-movement: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);


.shadow-select {
  box-shadow: $shadow-3!important;
}
