<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <script src="replace_with_your_fontawesome_id"></script>

    {{content}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<% if (includeBootstrap) { -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/bower_components/bootstrap-4/bootstrap.min.js"></script>
<% } -%>
<% if (includeFoundation) { -%>
    <script type="text/javascript" src="/assets/bower_components/foundation-6/foundation.min.js"></script>
<% } -%>
<% if (includeSemanticUi) { -%>
    <script type="text/javascript" src="/assets/bower_components/semantic-ui/semantic.min.js"></script>
<% } -%>
<% if (includeMaterialDesignLite) { -%>
    <script src="/assets/bower_components/material-DL/material.min.js"></script>
<% } -%>
<% if (includeMaterialize) { -%>
    <script type="text/javascript" src="/assets/bower_components/materialize-css/materialize.min.js"></script>
<% } -%>
    <script type="text/javascript" src="/assets/js/functions.min.js"></script>
  </body>
</html>
